SSR_PORT=3030
# set to e.g. the api script of your development environment's mediawiki
WIKIBASE_REPO=http://default.web.mw.localhost:8080/mediawiki
# hostname which will be used in place of the one in WIKIBASE_REPO for network requests to the wikibase
WIKIBASE_REPO_HOSTNAME_ALIAS=default.web.mw.localhost
# timeout to mediawiki in ms
MEDIAWIKI_REQUEST_TIMEOUT=3000
# maximum age of entries in the messages cache in ms
MESSAGES_CACHE_MAX_AGE=60000
# maximum age of entries in the languages cache in ms
LANGUAGES_CACHE_MAX_AGE=300000
# query string for the openapi x-amples healthcheck
HEALTHCHECK_QUERY=language=de&entity=Q1&revision=103&editLink=/edit/Q1347&preferredLanguages=de|en

# set to e.g. "mediawiki-docker-dev_dps" (see README)
MEDIAWIKI_NETWORK_TO_JOIN=
CSR_PORT=3000
STORYBOOK_PORT=6006
NODE_ENV=development

# set to e.g. "request" to see API requests done by SSR
NODE_DEBUG=
# set to e.g. "express:*" to see incoming requests
DEBUG=
