$base-font-size: 16px;

$color-light-azureish-gray: #72777d;
$color-dark-azureish-gray: #54595d;
$color-black: #000000;

$font-family-lato: 'Lato Regular', 'Arial Regular', 'PT Sans', sans-serif;
$font-family-charter: 'Charter Bold', 'Georgia Regular', 'Linux Libertine Bold', serif;

$svg-pen: url( '../../assets/pen.svg' );
