$base-font-size: 16px;

$color-light-azureish-gray: #72777d;
$color-dark-azureish-gray: #54595d;
$color-black: #000000;

$font-family-sansserif: 'Helvetica Neue', 'Helvetica', 'Nimbus Sans L', 'Arial', 'Liberation Sans', sans-serif;
$font-family-serif: 'Linux Libertine', 'Georgia', 'Times', serif;

$svg-pen: url( '../../assets/pen.svg' );
