@import '~wikimedia-ui-base/wikimedia-ui-base';

// cf. https://phabricator.wikimedia.org/diffusion/GOJU/browse/master/src/themes/wikimediaui/common.less$4
$base-font-size: 16px; // assumed browser default
$base-font-size-desired: 14px;

$color-white: #fff;
$color-light-gray: #dfdfdf;
$color-black: #000;
$color-moderate-red: #a55858;
$color-placeholder: $wmui-color-base30;

$alias-edit-focus-background: $wmui-color-accent90;
$alias-edit-focus-color: $wmui-color-base20;

$padding-vertical-base: #{ 6px / $base-font-size-desired }em;
$padding-vertical-wide: #{ 12px / $base-font-size-desired }em;
$padding-horizontal-base: #{ 12px / $base-font-size-desired }em;

$content-padding-left: 0.5em;

$size-input-binary: #{ 20px / $base-font-size-desired }em;
$border-color-input-binary: $wmui-color-base30;
$color-checkbox: $wmui-color-base100;

$warning-message-background: $wmui-color-yellow90;
$warning-message-border: $wmui-color-yellow50;

$error-message-background: $wmui-color-red90;
$error-message-border: $wmui-color-red50;

$svg-pen: url( ../../assets/pen.svg );
$svg-publish: url( ../../assets/transparent_checkmark_in_accent50_circle.svg );
$svg-cancel: url( ../../assets/close.svg );
$svg-arrow-up-base20: url( ../../assets/arrow_up_base20.svg );
$svg-warning: url( ../../assets/warning_sign.svg );
$svg-error: url( ../../assets/error_sign.svg );
$svg-check: url( ../../assets/check.svg );

$sm: 501px;
$md: 952px;
$lg: 1096px;

$grid-breakpoints: ( sm: $sm, md: $md, lg: $lg );
