@import '~wikimedia-ui-base/wikimedia-ui-base';

$base-font-size: 16px;

$color-light-azureish-gray: $wmui-color-base30;
$color-dark-azureish-gray: $wmui-color-base20;
$color-light-gray: #dfdfdf;
$color-black: #000;
$color-moderate-red: #a55858;

$border-color-base: $wmui-color-base50; // defined by wikimedia-ui-base, but lost in less -> scss translation
$border-colour-focus: $wmui-color-accent50;

$svg-pen: url( ../../assets/pen.svg );
$svg-publish: url( ../../assets/transparent_checkmark_in_accent50_circle.svg );
$svg-in-more-languages: url( ../../assets/arrow_in_circle_grey_up.svg );
$svg-all-entered-languages: url( ../../assets/double_arrow_in_circle_grey_up.svg );

$sm: 501px;
$md: 952px;
$lg: 1096px;

$grid-breakpoints: ( sm: $sm, md: $md, lg: $lg );
