#!/bin/bash
LATEST_COMMIT=$(curl -s --header 'Accept: application/vnd.github.v3.sha' 'https://api.github.com/repos/wikimedia/wikibase-termbox/commits/master')

if [[ -z "$(docker images -q docker-registry.wikimedia.org/wikimedia/wikibase-termbox:$LATEST_COMMIT 2> /dev/null)" ]]; then
	echo "Attempting to pull new Termbox image from wikimedia docker registry"
	docker pull docker-registry.wikimedia.org/wikimedia/wikibase-termbox:$LATEST_COMMIT &&\
	docker tag docker-registry.wikimedia.org/wikimedia/wikibase-termbox:$LATEST_COMMIT wmde/wikibase-termbox-production:latest
	docker rmi $(docker images -q docker-registry.wikimedia.org/wikimedia/wikibase-termbox 2> /dev/null ) || true
else
	echo "Already have latest Termbox image"
fi
