@mixin labelFont( $primary-selector ) {
	color: $color-black;
	line-height: 1.3em;
	font-family: $font-family-serif;
	font-weight: bold;

	@at-root #{$primary-selector} {
		@include fontSize( 23px );
	}
}
