@mixin termInput() {
	border: 1px solid $border-color-base;
	border-radius: 2px;
	padding: 7px;
	box-sizing: border-box;
	resize: none;
	overflow: auto;
	outline: 0;

	&:focus {
		border-color: $border-colour-focus;
	}
}
